<template>
  <div>
    <h1>Données d'activité</h1>
    <ul>
      <li
        class="list-item"
        v-for="cocci in coccinelles"
        :key="cocci.id"
        :style="{ backgroundColor: cocci.color }"
      >
        <span v-if="cocci.isVisible">
          <input type="checkbox" v-model="cocci.isVisible" />
          <span>La coccinelle numéro {{ cocci.id }}</span>
          à été clickée
          <b>{{ cocci.counter }} fois</b>
        </span>
        <span v-else>
          <input type="checkbox" v-model="cocci.isVisible" />Réactiver la
          coccinelle numéro {{ cocci.id }} ?
        </span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      coccinelles: this.$store.state.coccinelles
    }
  }
}
</script>

<style lang="less">
ul {
  width: 650px;
  margin: 0 auto;
}

li {
  display: block;

  & > span {
    display: block;
    margin: 15px;
    padding: 15px;
  }

  input {
    margin-right: 30px;
  }
}
</style>
