<template>
  <div>
    <h1>Coccinelles</h1>
    <Canvas />
  </div>
</template>

<script>
import Canvas from '../components/Canvas.vue'

export default {
  components: { Canvas }
}
</script>

<style lang="less">
h1 {
  margin: 30px;
}
</style>
