<template>
  <div>
    <canvas
      ref="canvas"
      id="canvas"
      :width="canvasWidth"
      :height="canvasHeight"
    ></canvas>
    <div>
      <span
        v-for="(cocci, id) in coccinelles"
        :key="id"
        class="cocci-toggle"
        :style="{ backgroundColor: cocci.color }"
      >
        <input type="checkbox" v-model="cocci.isVisible" />
      </span>
    </div>

    <button @click="handleButtonClick">
      <span v-if="buttonState">Hide debug info</span>
      <span v-else>Show debug info</span>
    </button>
    <pre v-if="buttonState">{{ coccinelles }}</pre>
  </div>
</template>

<script>
export default {
  data() {
    return {
      coccinelles: this.$store.state.coccinelles,
      canvasWidth: this.$store.state.canvas.width,
      canvasHeight: this.$store.state.canvas.height,
      buttonState: false
    }
  },
  mounted() {
    // Init canvas
    const $vm = this
    const coccinelles = this.coccinelles
    const canvas = this.$refs.canvas
    const ctx = canvas.getContext('2d')
    const rect = canvas.getBoundingClientRect()

    // Draw coccinelles with their own bouncing behaviour attached
    function drawCocci() {
      coccinelles.forEach(cocci => {
        if (cocci.isVisible) {
          ctx.beginPath()
          ctx.arc(cocci.x, cocci.y, cocci.ballRadius, 0, Math.PI * 2)
          ctx.fillStyle = cocci.color
          ctx.fill()
          ctx.closePath()

          // Boucing Behaviour
          $vm.$store.commit('makeItBounce', cocci.id)
        }
      })
    }

    // Drawing loop
    function draw() {
      ctx.clearRect(0, 0, canvas.width, canvas.height)
      drawCocci()
    }

    // Repeat the loop
    setInterval(draw, 10)

    // Click Fn, check if we are in a circle
    canvas.addEventListener('click', ev_click, false)

    function isIntersect(point, circle) {
      return (
        Math.sqrt((point.x - circle.x) ** 2 + (point.y - circle.y) ** 2) <
        circle.radius
      )
    }

    function ev_click(e) {
      let mousePoint = {
        x: e.clientX - rect.left,
        y: e.clientY - rect.top
      }

      coccinelles.forEach(cocci => {
        let circle = {
          x: cocci.x,
          y: cocci.y,
          radius: cocci.ballRadius
        }

        if (isIntersect(mousePoint, circle)) {
          $vm.$store.commit('changeCocciColor', cocci.id)
          $vm.$store.commit('increaseCounter', cocci.id)
        }
      })
    }
  },
  methods: {
    handleButtonClick() {
      this.buttonState = !this.buttonState
    }
  }
}
</script>

<style lang="less">
#canvas {
  margin-bottom: 20px;
  background: url(../assets/grass.jpg);
}
pre {
  text-align: left;
  background: black;
  color: green;
  padding: 30px;
  width: 800px;
  margin: 30px auto;
}
.cocci-toggle {
  margin: 15px;
  display: inline-block;

  input {
    height: 30px;
    width: 30px;
    margin: 30px;
  }
}
button {
  opacity: 0.5;
  padding: 10px 25px;
  margin-top: 50px;
}
</style>
