<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Coccinelles</router-link> |
      <router-link to="/countinfo">Données d'activité</router-link>
    </div>
    <router-view />
  </div>
</template>

<style lang="less">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#nav {
  margin-top: 40px;
}
</style>
